<IfModule mod_rewrite.c>
    Options -MultiViews
    RewriteEngine On
    RewriteBase /

    # Permitir acceso directo a archivos y directorios existentes
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

    # Redirigir todo lo demás a index.php
    RewriteRule ^sitemap\.xml$ sitemap.php [L]
    RewriteRule ^(.+)$ index.php [QSA,L]
</IfModule>
